<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Zenith-Analysis</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
     crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
    <div th:replace="admin_common::adminNav"></div>

    <div class="main-content">
        <header>
            <h1>
                <div class="btn-menu">
                    <i class="fas fa-bars open-menu"></i>
                </div>
                Administrator
            </h1>
            <div class="user-wrapper">
                <div class="dp-container">
                    <div class="dp-image">
                        <h3 th:text="${adminDisplay.firstCharacter}">J</h3>
                    </div>
                    <div class="arrow-container"></div>
                    <div class="profile">
                        <h5 th:text="${adminDisplay.name}"></h5>
                        <small th:text="${adminDisplay.email}"></small>
                        <p>Admin</p>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn" value="Logout">
                        </form>
                    </div>
                </div>
            </div>

        </header>
        <div class="upload-section">
            <h2>ADD NEW ADMIN</h2>
            <form th:action="@{/admin/add-admin}" class="upload-form" method="post" th:object="${adminDto}">
                <input type="password" name="password" id="password" th:field="*{adminPassword}" placeholder="Admin Password" required>
                <input type="text" name="name" id="name" th:field="*{name}" placeholder="Admin Name" required>
                <input type="email" name="email" id="email" th:field="*{email}" placeholder="New Admin Email" required>
                <input type="password" name="newAdminPassword" id="newAdminPassword" th:field="*{password}" placeholder="New Admin Password" required>
                <input type="submit" value="Add">
            </form>
            <div>
                <p th:if="${param.success}" style="text-align: center; margin-top: 10px; color:green; font-size: 13px;">The new Admin password has been sent to this email</p>
                <p th:if="${param.invalid}" style="text-align: center; margin-top: 10px; color:red; font-size: 13px;">This email is already registered</p>
                <p th:if="${param.error}" style="text-align: center; margin-top: 10px; color:red; font-size: 13px;">Incorrect Admin password</p>
            </div>
        </div>
    </div>

    <script th:src="@{/js/admin.js}"></script>
</body>

</html>