<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Zenith-Analysis</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
     crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
    <div th:replace="admin_common::adminNav"></div>
    <div class="main-content">
        <header>
            <h1>
                <div class="btn-menu">
                    <i class="fas fa-bars open-menu"></i>
                </div>
                Administrator
            </h1>
            <div class="user-wrapper">
                <div class="dp-container">
                    <div class="dp-image">
                        <h3 th:text="${adminDisplay.firstCharacter}">J</h3>
                    </div>
                    <div class="arrow-container"></div>
                    <div class="profile">
                        <h5 th:text="${adminDisplay.name}"></h5>
                        <small th:text="${adminDisplay.email}"></small>
                        <p>Admin</p>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn" value="Logout">
                        </form>
                    </div>
                </div>
            </div>

        </header>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Registered Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bola Tief</td>
                        <td>bola@hmail.com</td>
                        <td>Approved
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>

    <script th:src="@{/js/admin.js}"></script>

</body>
</html>