<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Zenith-Analysis</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
    <div th:replace="admin_common::adminNav"></div>

    <div class="main-content">

        <div th:replace="admin_common::topMenu"></div>

        <div class="table-section">
            <h2>ALLOW COURSES</h2>
            <table class="tables">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Course title</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="course,iterator : ${courses}">
                            <td th:text="${iterator.count}"></td>
                            <td th:text="${course.title}"></td>
                            <td th:text="${course.status} ? 'Allowed' : 'DisAllowed'"></td>
                            <td class="actions">
                                <div>
                                    <a th:href="@{/admin/allow-course/{courseId}/{id} (courseId=${course.id}, id=${id})}"
                                       class="allow-btn" th:text="${course.status} ? 'DisAllow' : 'Allow'"></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

        </div>

        <div>
            <p style="text-align: center; margin-top: 10px; color:gray; font-size: 13px;"></p>
        </div>
    </div>

    <script th:src="@{/js/admin.js}"></script>
</body>

</html>