<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Zenith-Analysis</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
     crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">

</head>

<body>

    <div th:replace="modals::deleteModal"></div>

    <div th:replace="admin_common::adminNav"></div>

    <div class="main-content">

        <div th:replace="admin_common::topMenu"></div>

        <div class="table-section">
            <table class="tables">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="user,iterator : ${users}">
                    <td th:text="${iterator.count}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.approved}? 'Approved' : 'DisApproved'">
                    </td>
                    <td class="actions">
                        <div>
                            <a th:href="@{/admin/approve-user/{id} (id=${user.id})}" class="approved action-btn"
                            th:text="${user.approved} ? 'DisAppr.' : 'Approve' "></a>
                        </div>
                        <div>
                            <a th:href="@{/admin/delete/{id} (id=${user.id})}"
                               class="delete-btn action-btn" id="delBtn">Delete</a>
                        </div>
                        <!--<div>
                            <a th:href="@{/admin/course-allow/{id} (id=${user.id})}"
                               class="allow-btn action-btn">Allow</a>
                        </div>-->
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="bottom-btn">
            <a th:href="@{/admin/add-admin}" class="btn add-course-btn">Add Admin</a>
        </div>


    </div>

    <script src="../js/admin.js"></script>
    <script src="../js/modal.js"></script>
</body>
</html>