/* About HomePage */

*{
    font-family:'Poppins', sans-serif;
}




.section-divider{
    height: 1px;
}

.about-home-page{
    display: flex;
    height: 60vh;
    background: url(../assets/Classroom-training.jpg) no-repeat center;
    color: #fffffe;
    min-height: 500px;
    background-size: cover;
    max-width: 1400px;
    margin: auto;
}

.top-text{
    font-size: 32px;
}

.cover-width{
    background-color: #00000055;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cover-width .about-top-section{
    text-align: center;
}

.cover-width .about-top-section .button-container{
    margin-top: 20px;
}

.cover-width .about-top-section .button-container .btn{
    background-color: #000080;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
}

.about .about-content .about-content-text ol li{
    list-style-type: decimal;
    padding: 0 10px;
    margin-inline: 20px;
    text-align: left;
    font-size: 14px;
}









/* End of About  */