:root{
    --primary-color:#000080;
    --secondary-color:#b3ae38;
    --fade-primary-color: #6f53fa;
}


*{
    font-family: 'Poppins', sans-serif;
}



.main-section-content{
    padding: 20px;
    min-height: 70vh;
    background-color: #f8f8f8;
    padding-bottom: 60px;
}


.main-section-content .title{
    font-size: 30px;
    font-weight: 700;
    margin: 10px auto 30px;
    border: 5px solid var(--primary-color);
    border-width: 0 0 5px 0;
    width: max-content;
}


.course-list-section .list-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.course-card{
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

.course-card .left-side .image{
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
}

.course-card .left-side .bottom{
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.course-card .left-side .course-price{
    color: #000080;
    padding: 2px;
    border: 1px solid#eee;
}

.course-card .left-side .bottom div:last-of-type{
    margin-top: 20px;
}

.course-card .left-side .bottom .btn{
    background-color: #000080;
    color: #fff;
    cursor: pointer;
    padding: 5px 17px;
    width: 350px;
    transition: all 0.3s ease;
}

.course-card .left-side .bottom .btn:hover{
    background-color: #00f;
}

.course-card .image img{
    width: 150px;
    height: 150px;
    border-bottom-left-radius: 30%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    object-fit: cover;
}


.course-card .right-side{
    border: solid #eee;
    border-width: 0 0 0 2px;
}

.course-card .right-side p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px 3px;
}

.course-card .right-side .course-title{
    font-size: 20px;
    font-weight: 600;
}

.course-card .right-side .course-desc{
    font-size: 15px;
    color: rgb(94, 94, 94);
}

.course-card .right-side .mid-section{
    display: flex;
    height: 40px;
    gap: 10px;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: #d5d5e2;
    margin-top: 20px;
}

.course-card .right-side .mid-section p{
    font-size: 14px;
    color: #393950;
}

.course-card .right-side .bottom p{
    padding: 0;
}

.course-card .right-side .bottom p{
    margin: 20px 10px;
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 1024px) {

    .main-section-content{
        padding: 20px 10px;
    }

    .course-list-section .list-item{
        grid-template-columns: 1fr;
    }

    .course-card{
        grid-template-columns: 1fr 2fr;
    }

    .course-card .left-side .bottom .btn{
        padding: 5px;
    }

}

@media (max-width: 580px) {
    .course-card{
        grid-template-columns: 1fr;
    }
    .course-card .left-side .bottom .btn{
        padding: 5px 10px;
    }

    .course-card .left-side .course-price{
        width: 130px;
        margin: auto;
    }

    .course-card .left-side .image{
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        text-align: center;
    }

    .course-card .image img{
        width: 100%;
        height: 180px;
        border-bottom-left-radius: 0;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        object-fit: cover;
    }
}


