<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>About Us | Zenith-Analysis</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <div th:replace="common::mainHeader"></div>

    <section class="about-home-page">
        <div class="cover-width">
            <div class="max-width">
                <div class="about-top-section">
                    <h2>Learning more about business</h2>
                    <div class="button-container">
                        <a th:href="@{/register}" class="btn">Get Started</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about">
        <div class="max-width">
            <div class="about-content">
                <h2 class="title">What We Do <span>Here.</span></h2>
                <div>
                    <div class="divider"></div>
                </div>
                <div class="about-content-main">
                    <div class="about-content-text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae odio sequi voluptates sapiente
                            amet minus delectus beatae eos officiis. Ullam voluptatibus debitis, nesciunt accusantium
                            soluta
                            itaque aliquam aspernatur, a eaque neque, at omnis aliquid placeat unde? Veritatis officia
                            ipsam
                            omnis ipsa voluptatem fuga natus earum maxime delectus, sapiente excepturi autem unde
                            similique
                            impedit accusamus suscipit dolorum adipisci fugit commodi hic reiciendis sint, aspernatur
                            voluptatibus? Mollitia, quasi praesentium alias voluptatem excepturi reprehenderit a,
                            quaerat
                            repellendus culpa doloribus soluta provident harum quia officia natus at eos beatae commodi
                            illo, fugiat inventore non illum eveniet? Alias tempora voluptatibus ipsa fuga quae, esse
                            qui.
                        </p>

                    </div>
                    <div class="about-content-image">
                        <img src="./assets/bi-business-intelligence-roadmap.png">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="section-divider"></div>
    <section class="about">
        <div class="max-width">
            <div class="about-content">
                <h2 class="title">More About Us <span>Here.</span></h2>
                <div>
                    <div class="divider"></div>
                </div>
                <div class="about-content-main">
                    <div class="about-content-image-2">
                        <img src="./assets/image.png">
                    </div>
                    <div class="about-content-text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae odio sequi voluptates sapiente
                            amet minus delectus beatae eos officiis. Ullam voluptatibus debitis, nesciunt accusantium
                            soluta
                            itaque aliquam aspernatur, a eaque neque, at omnis aliquid placeat unde? Veritatis officia
                            ipsam
                            omnis ipsa voluptatem fuga natus earum maxime delectus, sapiente excepturi autem unde
                            similique
                            impedit accusamus suscipit dolorum adipisci fugit commodi hic reiciendis sint, aspernatur
                            voluptatibus? Mollitia, quasi praesentium alias voluptatem excepturi reprehenderit a,
                            quaerat
                            repellendus culpa doloribus soluta provident harum quia officia natus at eos beatae commodi
                            illo, fugiat inventore non illum eveniet? Alias tempora voluptatibus ipsa fuga quae, esse
                            qui.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-divider"></div>
    <section>
        
    </section>
    <div th:replace="common::footer"></div>
    <script th:src="@{js/script.js}"></script>
</body>

</html>