<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="adminNav">
        <aside class="side-bar">
            <div class="side-bar-logo">
                <h1>Zenith-Analysis</h1>
            </div>
            <div class="side-menu">
                <ul>
                    <li><a th:href="@{/admin}"><span>Dashboard</span></a></li>
                    <li><a th:href="@{/admin/users}"><span>Users</span></a></li>
                    <li><a th:href="@{/admin/assignments}"><span>Assignment</span></a></li>
                    <li><a th:href="@{/admin/resources}"><span>Resources</span></a></li>
                    <li><a th:href="@{/admin/uploads}"><span>Class Activity</span></a></li>
                    <li><a th:href="@{/admin/events}"><span>Events</span></a></li>
                </ul>
            </div>
        </aside>
    </div>

    <div th:fragment="topMenu">
        <header>
            <h1>
                <div class="btn-menu">
                    <i class="fas fa-bars open-menu"></i>
                </div>
                Administrator
            </h1>
            <div class="user-wrapper">
                <div class="dp-container">
                    <div class="dp-image">
                        <h3 th:text="${adminDisplay.firstCharacter}"></h3>
                    </div>
                    <div class="arrow-container"></div>
                    <div class="profile">
                        <h5 th:text="${adminDisplay.name}"></h5>
                        <small th:text="${adminDisplay.email}"></small>
                        <p>Admin</p>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn" value="Logout">
                        </form>
                    </div>
                </div>
            </div>

        </header>
    </div>

</body>
</html>