<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contact Us | Zenith-Analysis</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body>
    <!--  Insert the common header code here  -->
    <div th:replace="common::mainHeader"></div>

    <!-- Insert the common contact code here-->
    <div th:replace="common::contactContent"></div>

    <!-- Insert the common footer code here-->
    <div th:replace="common::footer"></div>

    <!-- Script to enable the header scrolling-->
    <script th:src="@{js/script.js}"></script>
</body>

</html>