<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Events | Zenith-Analysis</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/event.css}">
</head>

<body>
    <div th:replace="common::mainHeader"></div>
    <section class="event-page">
        <div class="max-width">
            <div class="event-home">
                <div  class="shape"></div>
                <div>
                    <h2>UPCOMING EVENTS</h2>
                </div>
                <div class="event-year">
                    <h3></h3>
                    <div class="event-card" th:each="card: ${modelCards}">
                        <div class="left-card">
                            <div class="day" th:text="${card.day}"></div>
                            <div class="month" th:text="${card.month}+' '+${card.year}"></div>
                        </div>
                        <div class="right-card">
                            <h4 th:text="${card.title}"></h4>
                            <div class="description">
                                <p th:text="${card.details}"></p>
                            </div>
                            <div class="time" th:text="${card.time}"></div>
                        </div>
                    </div>

<!--                    <div class="linker">-->
<!--                        <div><i></i></div>-->
<!--                        <ul>-->
<!--                            <li class="link active"><a href="#">1</a></li>-->
<!--                            <li class="link"><a href="#">2</a></li>-->
<!--                            <li class="link"><a href="#">3</a></li>-->
<!--                            <li class="link"><a href="#">4</a></li>-->
<!--                        </ul>-->
<!--                        <div><i></i></div>-->
<!--                    </div>-->

                    <div class="linker" th:if="${eventPages > 1}">
                        <div><i></i></div>
                        <ul>
                            <li class="link" th:each="i :${#numbers.sequence(1,eventPages)}"
                                th:classappend="${i == currentActPage}? 'active': ''">
                                <a th:if="${eventPages > 0}" th:href="@{'/events/' + ${i}}" th:text="${i}"></a>
                            </li>
                        </ul>
                        <div><i></i></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div th:replace="common::footer"></div>

    <script th:src="@{/js/dhome.js}"></script>
    <script th:src="@{js/script.js}"></script>
</body>

</html>