<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login | Zenith-Analysis</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

    <div th:replace="common::mainHeader"></div>

    <section class="main-section-login">
        <div class="max-width">
            <main>
                <section class="login-section">
                    <form th:action="@{/login}" method="post" class="login-form">
                        <div class="form-title">
                            <h2 class="title">Login here</h2>
                        </div>
                        <p th:if="${param.error}" class="info" style="color:red;">Bad Credentials</p>
                        <p th:if="${param.logout}" class="info" style="color:green;">You've successfully logged out</p>
                        <input type="email" name="email" id="email" placeholder="Email" required>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                        <input type="submit" class="login-btn" value="Login">
                        <a th:href="@{/register}" class="register-btn">Register</a>
                        <a th:href="@{/forget-pass}" class="forget-pass">Forget Password ? Click here</a>
                    </form>
                </section>
            </main>
        </div>
    </section>

    <div th:replace="common::footer"></div>

    <script th:src="@{js/script.js}"></script>
</body>

</html>